html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(90deg, #9cf3a9 0%, #6f8ec5 100%);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.even-bigger-container {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
}
section {
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 50px;
	padding: 20px;
	margin: 10px;
	scroll-margin-top: 75px;
}

/* The invisible div to offset main contents based on header height.
Its height is decided with code in index.js */
.header-margin {
	width: 100vw;
	margin-bottom: 5px;
}

/* MOBILE AND SMALL SCREEN SIZE STYLING */
@media (max-width: 700px) {
	#header-logo {
		display: none;
	}
	nav {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	body {
		margin-top: auto;
	}
	section {
		scroll-margin-top: 60px;
	}
}

/* DARK MODE */
.darkModeBody {
	background: linear-gradient(270deg, #406345 0%, #394965 100%);
}

.darkMode {
	background-color: rgb(0, 0, 0, 0.5);
	color: #fcedda;
}

/* 
GENERAL STYLING ON TAGS
*/
h1 {
	color: #ee4e34;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 50px;
	margin: 0;
	padding: 20px;
}

h2 {
	font-size: 32px;
	color: #4dc69a;
	margin: 0px;
	text-align: center;
	font-style: italic;
}

h4 {
	margin: 5px;
}

p {
	margin: 5px;
}

/*
*
HEADER
*
*/

nav {
	height: fit-content;
	width: 100vw;
	background-color: rgb(77, 198, 154, 0.8);
	margin-bottom: 5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	top: 0;
	left: 0;
}

#header-logo {
	border-radius: 20px;
}

.nav-anchor {
	margin-right: 10px;
	text-decoration: none;
	color: #fcedda;
	font-size: 20px;
}

nav a:hover {
	color: #518aec;
}

#colormode-img {
	height: 32px;
}

/*
ABOUT
*/
.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-align: center;
}

.schedule-div {
	padding: 10px;
}

.schedule-div > h3 {
	margin: 0;
	font-size: 30px;
}
.schedule-div ul {
	padding-left: 0;
	margin: 0;
	padding: 10px;
}
.schedule-div li {
	list-style-type: none;
	margin-bottom: 0;
	font-size: 36px;
}

/*
SCHEDULE
*/
.schedule-div {
	border: 2px dashed yellow;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fcedda;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	text-align: center;
}

.schedule-div:hover {
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.5s ease-in-out;
}

/*
CLEARS AND PROG LIST 
*/

.fight-div {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.fight-div ul {
	padding: 0px;
}
.completed-container {
	padding: 0 20px 0 20px;
	color: #4dc69a;
}
.prog-container {
	padding: 0 20px 0 20px;
	color: #ee4e34;
}
#prog-ul > li {
	list-style-type: circle;
}

/*
STATIC MEMBER CARDS
*/
.members-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card-link {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.member-card {
	flex: 1;
	margin: 5px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

	color: #fcedda;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.member-card:hover {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.5s ease-in-out;
}

.member-card-top {
	flex-grow: 2;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.member-avatar {
	width: 96px;
	border-radius: 48px;
}
.member-name-and-job-container {
	display: flex;
	align-items: center;
}
.job-icon {
	width: 50px;
	margin: 10px;
}
.member-name {
	font-weight: 600;
}

.member-card-bottom {
	flex-grow: 10;
	width: 300px;
	text-align: center;
}

/*
APPLICATION
*/
#application {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#application:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.4s ease-in-out;
}

.application-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 5px;
}

.application-container > h3 {
	color: #ee4e34;
	margin-bottom: 0;
	background-color: #fcedda;
}
.application-container > p {
	margin: 0px;
}

button {
	color: lightblue;
	border: 1px solid #518aec;
	background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);
	font-size: 32px;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	padding: 20px;
	margin-top: 10px;
}

button:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
