body {
  background: linear-gradient(90deg, #9cf3a9 0%, #6f8ec5 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.even-bigger-container {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
}

.header-margin {
  width: 100vw;
  margin-bottom: 5px;
}
/*
*
HEADER
*
*/


nav {
  height: fit-content;
  width: 100vw;
  background-color: rgb(77,198,154, 0.8);
  margin-bottom: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 0;
  left: 0;
}

#header-logo {
  border-radius: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #FCEDDA;
  font-size: 20px;
}

nav a:hover {
  color:#518aec;
}

@media (max-width: 700px) {
  #header-logo {
    display: none; 
  }
  nav {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  body {
    margin-top:auto
  }
}
/* 
GENERAL STYLING
*/

h1 {
  color: #EE4E34;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #4DC69A;
  margin: 5px;
  text-align: center;
  font-style: italic;
}
h4 {
  margin:5px;
}
p {
  margin: 5px;
}
section {
  margin: 10px;
}
/*
about
*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.schedule-div {
  padding: 10px;
}

.schedule-div>h3 {
  margin:0;
}
.schedule-div ul {
  padding-left: 0;
  margin: 0;
  padding: 10px;
}
.schedule-div li {
  list-style-type: none;
  margin-bottom: 0;
}

/*
SCHEDULE
*/
.schedule-div {
  border: dashed yellow;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FCEDDA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/*
CLEARS AND PROG LIST 
*/

.fight-div {
  display: flex;
  justify-content: center;
  gap: 40px
}
.fight-div ul {
  padding: 0px;
}
.completed-container {
  padding: 0 20px 0 20px;
  color:#4DC69A;
}
.prog-container {
  padding: 0 20px 0 20px;
  color:#EE4E34
}
#prog-ul>li {
  list-style-type: circle;
}
/*
STATIC MEMBER CARDS
*/

.members-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.member-card {
  margin: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FCEDDA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.member-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s ease-in-out;
}

.member-card-top {
  flex-grow: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-avatar {
  width: 96px;
  border-radius: 48px;
}
.member-name-and-job-container {
  display: flex;
  align-items: center;
}
.job-icon {
  width: 50px;
  margin: 10px;
}
.member-name {
  font-weight: 600;
}

.member-card-bottom {
  flex-grow: 10;
  width: 300px;
  text-align: center;
}

/*
APPLICATION
*/
#application {
  background-color: rgba(238,	78,	52, 0.2);
  border-radius: 20px;
}

.application-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

button {
  color: lightblue;
  border: 1px solid #518aec;
  background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);
  font-size: 32px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 20px;
}

button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}



