body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}
nav {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

#header-logo {

}
h2 {
  font-size: 32px;
  color: #4DC69A;
  text-align: center;
  margin: 5px;
}

h4 {
  margin:5px;
}
p {
  margin: 5px;
}
section {
  margin: 10px;
}

.members-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member-card:hover {
  background-color: rgba(0, 0, 0, 0.8);

}
.member-card {
  margin: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid lightgrey 2px;
  border-radius: 5px;
  
}

.member-card-top {
  flex-grow: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-card-bottom {
  flex-grow: 10;
  width: 300px;
  text-align: center;
}
.member-avatar {
  width: 96px;
  border-radius: 48px;
}

.job-icon {
  width: 50px;
  margin: 10px;
}

.member-name-and-job-container {
  display: flex;
  align-items: center;
}

.member-name {
  font-weight: 600;
}







button {
  color: lightblue;
  border: 1px solid #518aec;
  font-size: 32px;
  background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);
  text-align: center;
  width: 400px;
  border-radius: 50px;
}

button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 450px;
  height: 50px;
  background-image: linear-gradient(to right, #d9e7ff 100%, #e3ffe7 0%);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.application-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

